.widthInput{
    width: 500px;
}

.footerXD{
    bottom: 0;
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

.ul1{
    order: 2;
}

.widthCard{
    width: 18rem;
}