.widthInput{
    width: 500px;
}

.footerXD{
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

.buscador{
    flex-direction: row;
    align-self: flex-start;
}

.ul1{
    order: 2;
}

.widthCard{
    width: 18rem;
}

body{
    height: 100vh;
    
}

.favourite-btn{
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    border: none;
    top: 10px;
}